* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(0, 0, 58);
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: rgb(132, 132, 229);
  font-size: 1.05rem;
}

.left {
  font-size: 1.5rem;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0;
}
.firstSection > div {
  width: 30%;
}
.leftSection {
  font-size: 2rem;
}
.leftSection .buttons {
  padding: 50px 0;
}
.leftSection .btn {
  padding: 12px;
  background-color: rgb(22 22 77);
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}
.leftSection .btn a {
  text-decoration: none;
  color: white;
}
.leftSection .btn a:hover {
  font-size: 1.5rem;
  border-bottom: 2px solid var(--secondary-color);
}
.rightSection img {
  width: 70%;
  border-radius: 50%;
}
.purple {
  color: rgb(170, 119, 219);
}
#element {
  color: rgb(170, 114, 222);
}
/*-----------------------about---------------------------*/
#about {
  padding: 80px 0;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 70%;
  border-radius: 50%;
}
.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #ff004f;
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
/*------------------------------------skills-------------------------*/
#skill {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}
.sub-title {
  margin-bottom: 1rem;
}
.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}
.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}
/*--------------------------portfolio------------------*/
#portfolio {
  padding: 50px 0;
}
#portfolio .sub-title {
  text-align: center;
  margin-bottom: 1rem;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  padding-left: 4%;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  height: 80%;
  width: 90%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 95%;
  height: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 16%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.layer a:hover {
  font-size: 1.5rem;
  border-bottom: 2px solid var(--secondary-color);
  color: #320c47;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
.button {
  display: block;
  margin: 0px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.button:hover {
  background: #ff004f;
}
/*----------------------contact------------------*/
#contact {
  margin-top: 6.5rem;
  margin-bottom: 2rem;
}
.contact-left {
  flex-basis: 35%;
  margin-left: 40px;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
.contact-right form {
  width: 70%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
.btn2 {
  display: inline-block;
  background: #ff004f;
  border-radius: 6px;
  font-size: 20px;
  text-decoration: none;
}
form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
/*-------------------------FOOTER-----------------------*/
#footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
  font-size: 300;
  padding: 25px 0;
  background-color: rgb(0, 0, 58);
}
#footer a {
  color: #ff004f;
  text-decoration: none;
}
/*------------------ css for small screen-------------*/
@media only screen and (max-width: 600px) {
}
